body {font-family: 'Playfair Display', serif; font-weight: 500;}
      .main { margin-left: 5%; font-size: 1.7vw; margin-right: 10%;}
      .head { font-size: 4vw; text-align: left; text-decoration: underline; text-decoration-color: #eac2ff;}
      head { font-weight: 600; color: black;}
      h2 { font: 3em; color: turquoise; margin-left: 2.5%; font-size: 2vw;}