body {
	font-family: 'Playfair Display', serif; 
	font-weight: 500;
}* {box-sizing: border-box;}

input[type=text], select, textarea, [type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #f7c6e5;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #f59ad4;
  color: white;
  font-style: italic;
}

.container {
  border-radius: 5px;
  background-color: #d3f2f5;
  padding: 20px;
}

.main { 
	margin-left: 5%; 
	font-size: 1.7vw; 
	margin-right: 10%;
}

.head { 
	font-size: 4vw; 
	text-align: left; 
	text-decoration: underline; 
	text-decoration-color: #eac2ff;
}

.specialHead { 
	font-size: 4vw; 
	text-align: center; 
	text-decoration: underline; 
	text-decoration-color: #eac2ff;
}

head { 
	font-weight: 600; 
	color: black;
}

h2 { 
	font: 3em; 
	color: turquoise; 
	margin-left: 2.5%; 
	font-size: 2vw;
}

nav {
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 1.7vw;  
	border-bottom: solid 1vw #f59ad4;
	background-color: #f7c6e5;
}

.toolbar { 
	padding-right: 1%;
	padding-left: 1%;
	padding-bottom: 1em;
	padding-top: 1em;
}

a.plain:link, a.plain:visited {
  	text-decoration: none;
  	background-color: #f7c6e5;
 	color: black;
 	font-family: 'Kanit', sans-serif;
 	font-weight: 500;
}
a.using:hover, a.using:active {
	background-color: #f59ad4;
	text-decoration: none;
	color: white;
	font-family: 'Kanit', sans-serif;
	font-weight: 500;
 	font-style: italic;
}
